html {
  height:100%;
}
body{
  margin:0;
  position:relative;
  height: 100%;
  overflow:hidden;
  font-family: 'Source Sans Pro', sans-serif;
  color: white;
}
body:not(.uploadScreen) #uploadScreen{
  display: none;
}
#uploadScreen{
  
}
body:not(.decorateScreen) #decorateScreen{
  display: none;
}
#photo{
  position: fixed;
  left: 0;
  top: 0;
}
#photo:not(.active){
  display:none;
}
#canvas{
  position: fixed;
  left: 0;
  top: 0;
}
#decorateNav{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 30px;
  background-color: rgba(0,0,0,0.5);
}
#decorateDone {
  position: absolute;
  display: inline-block;
  top: 5px;
  right: 20px;
  height: 20px;
}
#uploadBack {
  position: absolute;
  display: inline-block;
  top: 5px;
  left: 20px;
  height: 20px;
}

#tools{
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0,0,0,0.1);
}

#tools.draw{
  height: 135px;
}
#tools.stamp{
  height: 170px;
}
#tools.crop{
  height: 49px;
}
#tools.stampAdjust{
  height: 100px;
}
#toolButtons{
  position: relative;
  width: 100%;
  top: 0;
}
.buttons{
  display: inline-block;
  width:19%;
  height: 30px;
  background-color: rgba(0,0,0,0.5);
}

.navButtons{
  display: inline-block;
  width:32.5%;
  height: 49px;
  background-color: rgba(0,0,0,0.5);
}

#eraser{
  position: absolute;
  display: inline-block;
  background: #fff;
  bottom: 15px;
  right: 20px;
  color: black;
}
#eraser.active{
  background: #000;
  color:#fff;
}
#brushSize{
  position: absolute;
  display: inline-block;
  bottom: 15px;
  left: 10px;
  width: 70%;

}
#hue{
  position: absolute;
  display: inline-block;
  bottom: 45px;
  left: 10px;
  width: 90%;
}
#previewSlider{
  position: absolute;
  width:15px;
  height: 15px;
  border-radius: 50%;
  bottom:15px;
  right: 80px;
  background: hsl(20, 100%, 50%);
}
#buttonSwitcher:not(.hair) #hairButtons,
#buttonSwitcher:not(.hats) #hatsButtons,
#buttonSwitcher:not(.dress) #dressButtons,
#buttonSwitcher:not(.face) #faceButtons,
#buttonSwitcher:not(.access) #accessButtons{
  display: none;
}

#tools:not(.crop) #crop,
#tools:not(.stamp) #stamps,
#tools:not(.stampAdjust) #stampAdjust,
#tools:not(.draw) #draw{
  display: none;
}

#hairButtons, #hatsButtons, #dressButtons, #faceButtons, #accessButtons{
  height: 90px;
  overflow:auto;
  -webkit-overflow-scrolling: touch;
  white-space: nowrap;
}
#buttonSwitcher img {
  max-width: 12%;
  max-height: 70%;
  display:inline;
  margin-top: 5px;
  margin-left: 5px;
}

#faceButtons img {
  max-width: 40%;
  display:inline;
  margin-top: 15px;
  margin-left: 5px;
}

#stampCategories{
  position: absolute;
  width: 100%;
  bottom: 0;   
}

#stampContainer img{
  position: absolute;
  top: 15%;
  left: 25%;
}

#cropDone {
  position: absolute;
  display: inline-block;
  background: #fff;
  bottom: 25px;
  right: 20px;
}

#cropOverlay{
  background-image: url("../img/cropOverlay.png");
  background-size: cover;
  background-position: center top;
  overflow: hidden;
  position: fixed;
}
#cropOverlay:not(.active){
  display:none;
}
#cropShape{
  position: fixed;
}

#cropShape:not(.active){
  display: none;
}

#savePhoto:not(.active){
  display: none;
}
#savePhoto{
  position: fixed;
}
#saveImg:not(.active){
  display: none;
}
#saveImg {
  position: fixed;
}

#photoInput {
  opacity:0;
  position:absolute;
  top:50%;
  left:40%;
  height:50px;
}

#header {
  position: absolute;
  background-color: #F73E26;
  height:45%;
  width:100%;
  top:0;
  font-size: 17px;
}
#header img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}
#header p{
  display: block;
  padding-left: 5%;
  padding-top:20px;
}
#uploadBG{
  position: absolute;
  width: 100%;
  bottom: 0;
}

#photoInputButton {
  position:absolute;
  top:50%;
  left:40%;
}
